# Entorno
NODE_ENV=development
PORT=3000

# Base de datos
DATABASE_URL="postgresql://postgres:root@localhost:5432/emprendedores_db?schema=public"
DIRECT_URL="postgresql://postgres:root@localhost:5432/emprendedores_db?schema=public"

# JWT
JWT_SECRET="ilovelouivisadasdasdasdasdasdsa"
JWT_EXPIRES_IN="1d"

# Proveedores de IA (llenar el que se vaya a usar primero)
OPENAI_API_KEY=""
GEMINI_API_KEY=""
GROQ_API_KEY=""
OPENROUTER_API_KEY=""
OPENROUTER_MODELS="openai/gpt-oss-20b:free,openrouter/free"
AI_MAX_TOOL_ITERATIONS=5
AI_DEFAULT_PROVIDER="openai"

# Rate limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100

# Brevo Email API & Password Reset
BREVO_API_KEY="xkeysib-..."
BREVO_SENDER_EMAIL="tu_correo_registrado_en_brevo@gmail.com"
BREVO_SENDER_NAME="Emprendo"
PASSWORD_RESET_CODE_EXPIRES_MIN=15

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

